<a href="https://colab.research.google.com/github/bahadirbesirkestane/Staj/blob/main/Dask_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dask Dataframe işlemleri**

In [1]:
!pip install "dask[complete]"

Requirement already satisfied: dask[complete] in /usr/local/lib/python3.10/dist-packages (2023.8.1)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (8.1.7)
Requirement already satisfied: cloudpickle>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (2.2.1)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (2023.6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (23.1)
Requirement already satisfied: partd>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (1.4.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (6.8.0)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (9.0.0)
Collecting lz4>=4.3.2 (from dask[complete])
  Downloading lz4-4.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 11.0 MB/s eta 0:00:00
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.13.0->dask[complete]) (3.16.2)
Requirement already satisfied: locket in /usr/local/lib/python3.10/dist-packages (from partd>=1.2.0->dask[complete]) (1.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.10/dist-packages (from pyarrow>=7.0->dask[complete]) (1.23.5)
Requirement already satisfied: distributed==2023.8.1 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (2023.8.1)
Requirement already satisfied: pandas>=1.3 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (1.5.3)
Requirement already satisfied: bokeh>=2.4.2 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (3.2.2)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.10/dist-packages (from dask[complete]) (3.1.2)
Requirement already satisfied: msgpack>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.8.1->dask[complete]) (1.0.5)
Requirement already satisfied: psutil>=5.7.2 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.8.1->dask[complete]) (5.9.5)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.8.1->dask[complete]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.8.1->dask[complete]) (2.0.0)
Requirement already satisfied: tornado>=6.0.4 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.8.1->dask[complete]) (6.3.2)
Requirement already satisfied: urllib3>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.8.1->dask[complete]) (2.0.4)
Requirement already satisfied: zict>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.8.1->dask[complete]) (3.0.0)
Requirement already satisfied: contourpy>=1 in /usr/local/lib/python3.10/dist-packages (from bokeh>=2.4.2->dask[complete]) (1.1.0)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.10/dist-packages (from bokeh>=2.4.2->dask[complete]) (9.4.0)
Requirement already satisfied: xyzservices>=2021.09.1 in /usr/local/lib/python3.10/dist-packages (from bokeh>=2.4.2->dask[complete]) (2023.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.10.3->dask[complete]) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3->dask[complete]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3->dask[complete]) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.3->dask[complete]) (1.16.0)
Installing collected packages: lz4
Successfully installed lz4-4.3.2

### PAndas ve Numpy Kütüphaneleri

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

%matplotlib notebook

### Dask kütüphanesinin modülleri

In [3]:
import dask.dataframe as dd

###     Dataframe ler

### Verisetinin okunması

In [5]:
pdf_sales = pd.read_csv('FactInternetSales.csv', nrows=2000)

### nrows Kullanılarak veriseti okunması

In [ ]:
# Note:  nrows is not supported in Dask
ddf_sales = dd.read_csv('FactInternetSales.csv', nrows=2000)

### Satır sınırlaması

In [ ]:
ddf_sales = dd.read_csv('FactInternetSales.csv').head(n=2000)

## İstatistiksel Yöntemler

### Pandasta referans sütün syntaxı.

In [6]:
pdf_sales.SalesAmount.describe()

count    2000.000000
mean     3210.444651
std       912.816673
min       699.098200
25%      3399.990000
50%      3578.270000
75%      3578.270000
max      3578.270000
Name: SalesAmount, dtype: float64

### Daskta referans sütün syntaxı.

In [ ]:
ddf_sales.SalesAmount.describe()

Dask Series Structure:
npartitions=1
    float64
        ...
Name: SalesAmount, dtype: float64
Dask Name: describe-numeric, 20 tasks

#### Dask sonuçları bir pandas veri çerçevesi olarak döndürmesi açısından Spark eylemine eşittir.

### Dataframe de compute() kullanma

In [ ]:
ddf_sales_stats = ddf_sales.SalesAmount.describe()
ddf_sales_stats.compute()

count    60398.000000
mean       486.086911
std        928.489892
min          2.290000
25%          7.950000
50%         29.990000
75%        539.990000
max       3578.270000
Name: SalesAmount, dtype: float64

In [ ]:
ddf_sales['SalesAmount'].compute()

0        3578.2700
1        3399.9900
2        3399.9900
3         699.0982
4        3399.9900
           ...
60393      21.9800
60394       8.9900
60395      21.9800
60396     159.0000
60397       8.9900
Name: SalesAmount, Length: 60398, dtype: float64

### Daskta filtreleme işlemi

In [ ]:
ddf_sales[ddf_sales['SalesAmount'] > 2000].head(3)  # Forces compute!

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
0,310,20101229,20110110,20110105,21768,1,19,6,SO43697,1,...,2171.2942,2171.2942,3578.27,286.2616,89.4568,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
1,346,20101229,20110110,20110105,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.99,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
2,346,20101229,20110110,20110105,25863,1,100,1,SO43699,1,...,1912.1544,1912.1544,3399.99,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000

### compute() ile filtreleme

In [ ]:
ddf_sales[ddf_sales['SalesAmount'] > 2000].compute().head(3)

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
0,310,20101229,20110110,20110105,21768,1,19,6,SO43697,1,...,2171.2942,2171.2942,3578.27,286.2616,89.4568,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
1,346,20101229,20110110,20110105,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.99,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
2,346,20101229,20110110,20110105,25863,1,100,1,SO43699,1,...,1912.1544,1912.1544,3399.99,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000

### Satırlara ve sütunlara göre dilimleme

In [ ]:
ddf_sales[0:3]['ProductKey']

NotImplementedError: 'DataFrame.iloc' only supports selecting columns. It must be used like 'df.iloc[:, column_indexer]'.

### seçilen sütunlar dışındaki tüm satırları dilimleme

In [ ]:
ddf_sales.iloc[:, 0:1].head(3)

   ProductKey
0         310
1         346
2         346

### iloc kullanarak seçili sütun numaralarına göre dilimleme

In [ ]:
ddf_sales.iloc[:,[1,2]].head(5)  # select by column number...

   OrderDateKey  DueDateKey
0      20101229    20110110
1      20101229    20110110
2      20101229    20110110
3      20101229    20110110
4      20101229    20110110

### Satır aralıklarını ve sütun adlarını dilimleme

In [ ]:
ddf_sales[:][['ProductKey', 'SalesAmount']].head(5)

   ProductKey  SalesAmount
0         310    3578.2700
1         346    3399.9900
2         346    3399.9900
3         336     699.0982
4         346    3399.9900

### compute ile satır aralıklarını ve sütun adlarını dilimleme

In [ ]:
ddf_sales[:][['ProductKey', 'SalesAmount']].compute()

       ProductKey  SalesAmount
0             310    3578.2700
1             346    3399.9900
2             346    3399.9900
3             336     699.0982
4             346    3399.9900
...           ...          ...
60393         485      21.9800
60394         225       8.9900
60395         485      21.9800
60396         486     159.0000
60397         225       8.9900

[60398 rows x 2 columns]

#### set_index

In [ ]:
ddf_sales = ddf_sales.set_index('SalesOrderNumber', drop=False)
ddf_sales.head(3)

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
SalesOrderNumber,,,,,,,,,,,,,,,,,,,,,
SO43697,310,20101229,20110110,20110105,21768,1,19,6,SO43697,1,...,2171.2942,2171.2942,3578.27,286.2616,89.4568,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
SO43698,346,20101229,20110110,20110105,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.99,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000
SO43699,346,20101229,20110110,20110105,25863,1,100,1,SO43699,1,...,1912.1544,1912.1544,3399.99,271.9992,84.9998,NaN,NaN,2010-12-29 00:00:00.000,2011-01-10 00:00:00.000,2011-01-05 00:00:00.000