<a href="https://colab.research.google.com/github/bahadirbesirkestane/Staj/blob/main/Sqlite_Temel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sqlite ile Veritabanı Uygulaması**
SQLite, dünyada en çok dağıtılan ve tavsiye edilen kaynak kodları halka açık, sunucu yazılımı ve yapılandırma gereksinimi olmayan ilişkisel bir SQL veri tabanı motorudur.

>Sqlite ın import edilmesi

In [ ]:
import sqlite3

In [ ]:
# vt = sqlite3.connect('Veritabanı dosya yolu') #Windows
vt = sqlite3.connect('C:/Users/O M E N/Masaüstü/sqlite_veritabani/vt.sqlite') #Windows

## İmleç Oluşturma

Veritabanını oluşturduktan veya varolan bir veritabanı ile bağlantı kurduktan sonra, veritabanı üzerinde işlem yapabilmek için sonraki adımda bir imleç oluşturmamız gerekir.

In [ ]:
im = vt.cursor()

## Tablo Oluşturma
İmleç oluşturduktan sonra execute() metodunu kullanarak SQL komutlarını işletebiliyoruz.

In [ ]:
# Veritabanında tablo oluşturma.
# im.execute("CREATE TABLE adres_defteri (isim, soyisim)")

# Şartlı tablo oluşturma
sorgu = """CREATE TABLE IF NOT EXISTS personel
(isim, soyisim, memleket)"""

im.execute(sorgu)

> personel tablosu oluşturuldu, "isim", "soyisim" ve "memleket" adlı sütünlar eklendi.
>
>execute() fonksiyonunun parametresi string olduğu için değişkene sql ifadeleri yazabiliyoruz.

In [ ]:
# Tabloya Veri Girme

deger_gir = """INSERT INTO personel VALUES ('Fırat', 'Özgül', 'Adana')"""
im.execute(deger_gir)

>Girdiğimiz verileri veritabanına işleyebilmek için commit() metodunu kullanmalıyız.

In [ ]:
vt.commit()

>Veritabanının Kapatılması

In [ ]:
vt.close()

>Eğer veritabanının otomatik kapanmasını istiyorsak "with" kullanmalıyız.

In [ ]:
with sqlite3.connect('vt.sqlite') as vt:
    im = vt.cursor()

    im.execute("""CREATE TABLE IF NOT EXISTS personel
        (isim, soyisim, memleket)""")
    im.execute("""INSERT INTO personel VALUES
        ('Fırat', 'Özgül', 'Adana')""")

    vt.commit()

## Parametreli Sorgular
Çoğu durumda veriler elle girilmekten ziyade,dışardan toplu şekilde gelir. Bunun için basit bir örnek.

In [ ]:
import sqlite3

with sqlite3.connect('vt.sqlite') as vt:
    im = vt.cursor()

    veriler = [('Fırat', 'Özgül', 'Adana'),
               ('Ahmet', 'Söz', 'Bolvadin'),
               ('Veli', 'Göz', 'İskenderun'),
               ('Mehmet', 'Öz', 'Kilis')]

    im.execute("""CREATE TABLE IF NOT EXISTS personel
        (isim, soyisim, memleket)""")

    for veri in veriler:
        im.execute("""INSERT INTO personel VALUES
            (?, ?, ?)""", veri)

    vt.commit()

## Tablodaki Verileri Seçmek

Veritabanından herhangi bir veri alabilmek için ilk olarak SELECT veri FROM tablo_adı adlı bir SQL komutundan yararlanarak ilgili verileri seçmemiz gerekiyor.

In [ ]:
vt = sqlite3.connect('C:/Users/O M E N/Masaüstü/sqlite_veritabani/fatura.sqlite')

im = vt.cursor()

im.execute("""CREATE TABLE IF NOT EXISTS faturalar
(fatura, miktar, ilk_odeme_tarihi, son_odeme_tarihi)""")

In [ ]:
im.execute("""INSERT INTO faturalar VALUES
("Elektrik", 45, "23 Ocak 2010", "30 Ocak 2010")""")

In [ ]:
vt.commit()

In [ ]:
im.execute("""SELECT * FROM faturalar""")

> Tablodan verileri alabilmek için fetchone(), fetchall() veya fetchmany() adlı metotlardan for döngüsüyle kullanacağız.

**fetchall() Metodu**

In [ ]:
veriler = im.fetchall()

In [ ]:
print(veriler)

[('Elektrik', 45, '23 Ocak 2010', '30 Ocak 2010')]

In [ ]:
vt.close()

**fetchone() Metodu :** bir veritabanından seçilen verilerin tek tek alınabilmesine izin verir.

In [ ]:
vt = sqlite3.connect('C:/Users/O M E N/Masaüstü/sqlite_veritabani/kitaplar.sqlite')
im = vt.cursor()

In [ ]:
im.execute("""SELECT * FROM kitaplar""")

In [ ]:
im.fetchone()

('UZMANLAR İÇİN PHP', 'Mehmet Şamlı', '33,00 TL')

In [ ]:
im.fetchone()

('ADOBE AİR', 'Engin Yöğen', '28,00 TL')

In [ ]:
im.fetchone()

('WEB TASARIM REHBERİ', 'Mustafa Aydemir', '38,50 TL')

**fetchmany() Metodu :** bir veritabanından seçtiğiniz verilerin istediğiniz kadarını alabilmenizi sağlar

In [ ]:
im.fetchmany(5)

[('ORACLE 11g R2', 'Teoman Dinçel', '34,00 TL'),
 ('AS 3.0 İLE SUNUCU PROGRAMLAMA', 'Engin Yöğen', '24,00 TL'),
 ('HACKING INTERFACE', 'Hamza Elbahadır', '25,00 TL'),
 ('JAVA VE JAVA TEKNOLOJİLERİ', 'Tevfik Kızılören', '45,00 TL'),
 ('XML VE İLERİ XML TEKNOLOJİLERİ', 'Musa Çiçek', '24,50 TL')]

 >for döngüsüyle veri alma

In [ ]:
#Tüm verileri getirme
for veri in im:
    print(veri)

In [ ]:
# Belirli sayıda(10) veri alma
for i in range(10):
    print(im.fetchone())

('UZMANLAR İÇİN PHP', 'Mehmet Şamlı', '33,00 TL')
('ADOBE AİR', 'Engin Yöğen', '28,00 TL')
('WEB TASARIM REHBERİ', 'Mustafa Aydemir', '38,50 TL')
('ORACLE 11g R2', 'Teoman Dinçel', '34,00 TL')
('AS 3.0 İLE SUNUCU PROGRAMLAMA', 'Engin Yöğen', '24,00 TL')
('HACKING INTERFACE', 'Hamza Elbahadır', '25,00 TL')
('JAVA VE JAVA TEKNOLOJİLERİ', 'Tevfik Kızılören', '45,00 TL')
('XML VE İLERİ XML TEKNOLOJİLERİ', 'Musa Çiçek', '24,50 TL')
('GRAFİK&ANİMASYON', 'Anonim', '18,50 TL')
('JQUERY', 'Salih Baltalı', '34,00 TL')

## Veri Süzme

In [ ]:
# Where kullanımı
im.execute("SELECT * FROM kitaplar WHERE Yazar = 'Fırat Özgül'")

In [ ]:
im.fetchall()

[('HERYÖNÜYLE PYTHON', 'Fırat Özgül', '34,00 TL')]

## Veritabanı Güvenliği

In [ ]:
db = sqlite3.connect("C:/Users/O M E N/Masaüstü/sqlite_veritabani/kullanici.sqlite")

im = db.cursor()

In [ ]:

im.execute("""CREATE TABLE IF NOT EXISTS kullanicilar
    (kullanici_adi, parola)""")

veriler = [
            ("bahadir", "123"),
            ("besir", "456"),
            ("kestane", "789")
          ]

In [ ]:
for i in veriler:
    im.execute("""INSERT INTO kullanicilar VALUES %s""" %(i,))

db.commit()

In [ ]:
#Kullanıcıdan kullanıcı adı ve parola bilgilerini alıyoruz...
kull = input("Kullanıcı adınız: ")
paro = input("Parolanız: ")

im.execute("""SELECT * FROM kullanicilar WHERE
kullanici_adi = '%s' AND parola = '%s'"""%(kull, paro))

data = im.fetchone()

Kullanıcı adınız: bahadir
Parolanız: 123

In [ ]:

if data:
    print("Programa hoşgeldin {}!".format(data[0]))
else:
    print("Parola veya kullanıcı adı yanlış!")

Programa hoşgeldin bahadir!